@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .project-text-content{
    transform: scale(0.8);
  }
}
/* Laptop Devices */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .project-nav{
    margin-bottom: 3vh;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container{
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container, #transparent-pic {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .logo-pic{
    transform: scale(2.5);
  }
  .project-text-content{
    margin-top: -20%;
  }
  .credits{
    transform: scale(0.9);
  }
}

/* Mobile View */
@media screen and (max-width: 700px) {
  #hamburger-nav {
    display: flex;
  }
  .arrow {
    display: none;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  } 
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .experience-sub-title{
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.25rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .project-nav .nav-links {
    gap: 1rem;
    flex-direction: row;
  }
  .section__pic-container, #transparent-pic {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2,
  .contact-info-container p,
  .nav-links li a, .menu-links li a, article,
  .project-links, .link, h3{
    font-size: 1rem;
  }
  p{
    font-size: 0.9rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .logo-pic{
    transform: scale(2);
  }
  .project-text-content{
    margin-top: -30%;
  }
  .project-text-content .icon{
    height: 6rem;
  }
  .credits{
    transform: scale(0.85);
  }
  .masked{
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0)
    );
  }
}
