<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atyla | Portforlio</title>
    <meta name="description" content="Take a view of Jade Atyla's portfolio showcasing his minimalistic design, skills and projects.">
    <link rel="icon" type="image/svg+xml" href="/images/Atyla_Logo.svg"/>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/mediaqueries.css" />
    <link rel="stylesheet" href="/style/animation.css" />
  </head>
  <body>
    <div id="top"></div>
    <nav id="desktop-nav">
      <img
        class="logo logo-pic"
        src="/images/Atyla_Logo.svg"
        alt="Atyla Logo"
        id="logo-pic"
      />
      <div>
        <ul class="nav-links">
          <li><a class="link" href="#about">About</a></li>
          <li><a class="link" href="#experience">Experience</a></li>
          <li><a class="link" href="#projects">Projects</a></li>
          <li><a class="link" href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <img
        class="logo logo-pic"
        src="/images/Atyla_Logo.svg"
        alt="Atyla Logo"
        id="logo-pic"
      />
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a class="link" href="#about" onclick="toggleMenu()">About</a></li>
          <li><a class="link" href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a class="link" href="#projects" onclick="toggleMenu()">Projects</a></li>
          <li><a class="link" href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>
    <section id="profile">
      <div class="section__pic-container" onclick="location.href='./#about'">
        <img
        class="blob"
          src="/images/jadeatylamadigal.png"
          alt="Jade Atyla Madigal profile picture"
          id="main-pic"
        />
        <img
          class="blob"
          src="/images/jadeatylamadigal-transparent-bg.png"
          alt="Jade Atyla Madigal Transparent profile picture"
          id="transparent-pic"
        />
        <div class="border-wrap"></div>
      </div>
      <div class="section__text">
        <p class="section__text__p1">Welcome, I'm</p>
        <h1 class="title">Jade Atyla Madigal</h1>
        <p class="section__text__p2">Digital Artist & Aspiring Fullstack Developer</p>
        <div class="btn-container">
            <a class="btn btn-color-2 download" href='/files/Jade Atyla Madigal - Resume.pdf' download = 'Jade Artla Madigal - Resume.pdf'>Download CV</a>
            <a class="btn btn-color-1 download" href="./#contact">Contact Info</a>
        </div>
        <div id="socials-container">
          <img
            src="/images/facebook.png"
            alt="My Facebook profile"
            class="icon"
            onclick="location.href='https://www.facebook.com/jadeatylam'"
          />
          <img
            src="/images/github.png"
            alt="My Github profile"
            class="icon"
            onclick="location.href='https://github.com/JadeAtyla'"
          />
          <img
            src="/images/instagram.png"
            alt="My Instagram profile"
            class="icon"
            onclick="location.href='https://www.instagram.com/jeydweirdough?igsh=bDZ6YWtmZ242MnMy'"
          />
        </div>
      </div>
    </section>
    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About Me</h1>
      <div class="about-section-div">
      <div class="section-container">
        <div class="section__pic-container hidden">
          <img
            src="/images/about-pic.png"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container hidden">
          <div class="about-containers">
            <div class="details-container">
              <img
                src="/images/experience.png"
                alt="Experience icon"
                class="icon"
              />
              <h3>Experience</h3>
              <p>
                Digital Artist (6 years)<br>
                Backend Development (2 years)<br>
                UI Designing (1 year)
              </p>
            </div>
            <div class="details-container">
              <img
                src="/images/education.png"
                alt="Education icon"
                class="icon"
              />
              <h3>Education</h3>
              <p>
                Bachelor of Science in Computer Science<br />( 3rd Year Student
                )
              </p>
            </div>
          </div>
          <div class="text-container">
            <p>
              As a dedicated third-year BS Computer Science student, I've
              established a solid foundation in software development and
              database management. I have knowledge in multiple programming
              languages, including <i class="language">Java</i>,
              <i class="language">JavaScript</i>,
              <i class="language">Python</i>, and <i class="language">PHP</i>,
              which allows me to handle varied programming difficulties with
              adaptability and creativity. In addition, I am proficient in
              <i class="language">MySQL</i> and
              <i class="language">MongoDB</i> database management, which
              enhances my abilities to develop and manage data-driven
              applications. I am dedicated to lifelong learning and using my
              abilities to develop efficient, scalable solutions for real-world
              situations.
            </p>
          </div>
        </div>
      </div>
      </div>
      <div class="wrapper masked hidden" id="wrapper">
        <!-- animation has been set on animation.js -->
      </div>
      <img
        src="/images/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#experience'"
      />
    </section>
    <section id="experience">
      <p class="section__text__p1">Explore My Programming</p>
      <h1 class="title">Experiences</h1>
      <div class="experience-details-container hidden">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">Frontend Development</h2>
            <div class="article-container">
              <article>
                <img
                  src="/images/html.svg"
                  alt="HTML icon"
                  class="icon"
                />
                <div>
                  <h3>HTML</h3>
                  <p>1 year</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/css.svg"
                  alt="CSS icon"
                  class="icon"
                />
                <div>
                  <h3>CSS</h3>
                  <p>1 year</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/javascript.svg"
                  alt="JavaScript icon"
                  class="icon"
                />
                <div>
                  <h3>Javascript</h3>
                  <p>1/2 year</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Backend Development</h2>
            <div class="article-container">
              <article>
                <img
                  src="/images/java.svg"
                  alt="Java icon"
                  class="icon"
                />
                <div>
                  <h3>Java</h3>
                  <p>2 years</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/mysql.svg"
                  alt="MySQL icon"
                  class="icon"
                />
                <div>
                  <h3>MYSQL</h3>
                  <p>1/2 year</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/mongodb.svg"
                  alt="MongoDB icon"
                  class="icon"
                />
                <div>
                  <h3>MongoDB</h3>
                  <p>1/2 year</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/python.svg"
                  alt="Python icon"
                  class="icon"
                />
                <div>
                  <h3>Python</h3>
                  <p>1/2 year</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/nodejs.svg"
                  alt="NodeJS icon"
                  class="icon"
                />
                <div>
                  <h3>Node JS</h3>
                  <p>1/2 year</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/php.svg"
                  alt="PHP icon"
                  class="icon"
                />
                <div>
                  <h3>PHP</h3>
                  <p>1/2 year</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Digital Art Experiences</h2>
            <div class="article-container">
              <article>
                <img
                  src="/images/ibis-paint.svg"
                  alt="Ibis-Paint icon"
                  class="icon"
                />
                <div>
                  <h3>Ibis Paint</h3>
                  <p>6 years</p>
                </div>
              </article>
              <article>
                <img
                  src="/images/figma.svg"
                  alt="Figma icon"
                  class="icon"
                />
                <div>
                  <h3>Figma</h3>
                  <p>1 year</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <p>
          Throughout my Bachelor of Science in Computer Science, I have
          developed a robust skill set by simultaneously learning multiple
          programming languages and database management tools. Proficient in
          Java, JavaScript, Python, and PHP, I bring a versatile approach to
          software development. My experience extends to database management,
          where I utilize MySQL and MongoDB to design and implement data-driven
          solutions. My commitment to continuous learning has equipped me to
          tackle complex programming challenges with adaptability and
          efficiency.
        </p>
      </div>
      <img
        src="/images/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#projects'"
      />
    </section>
    <section id="projects">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title">Projects</h1>
      <div class="experience-details-container hidden">
        <nav class="project-nav">
          <ul class="nav-links">
            <li><p class="link project-links">Java Projects</p></li>
            <li><p class="link project-links">Digital Art</p></li>
            <li><p class="link project-links">Web Projects</p></li>
          </ul>
        </nav>
        <div class="sample-project-container">
          <div class="project-details-container">
            <div class="article-container">
              <a href="https://atyla-java-projects.vercel.app/" target="_blank">
              <img
                src="/images/checklist.svg"
                alt="Checklist Image"
                class="project-img masked"
              />
            </a>
            </div>
            <div class="project-text-content">
              <img src="/images/Atyla_Logo.svg" alt="Atyla Logo" class="icon">
              <div class="text-container">
              <h1 class="project-title">CvSU Checklist | JavaFx Project</h1>
              <p>An inventive JavaFX project that displays data from a conventional checklist on an online one.</p>
              <a class="btn btn-color-2 project-btn download" href="https://atyla-java-projects.vercel.app/">Live Demo</a>
            </div>
            </div>
          </div>
        </div>
        <div class="sample-project-container">
          <div class="project-details-container">
            <div class="article-container">
              <a href="https://atyla-digital-arts.vercel.app/" target="_blank">
                <img
                  src="/images/digitalarts.svg"
                  alt="Digital Arts Gallery Image"
                  class="project-img masked"
                  onclick="https://atyla-digital-arts.vercel.app/"
                />
              </a>
            </div>
            <div class="project-text-content">
              <img src="/images/Atyla_Logo.svg" alt="Atyla Logo" class="icon">
              <div class="text-container">
              <h1 class="project-title">Atyla | Digital Gallery</h1>
              <p>A sample gallery of my personal digital artworks.</p>
              <a class="btn btn-color-2 project-btn download" href="https://atyla-digital-arts.vercel.app/">View Arts</a>
            </div>
            </div>
          </div>
        </div>
        <div class="sample-project-container">
          <div class="project-details-container">
            <div class="article-container">
              <a href="https://jecati-construction-services.vercel.app" target="_blank">
              <img
                src="/images/jecati.svg"
                alt="Jecati Image"
                class="project-img masked"
              />
            </a>
            </div>
            <div class="project-text-content">
              <img src="/images/JecatiLogo.svg" alt="Jecati Logo" class="icon">
              <div class="text-container">
              <h1 class="project-title">JECATI Construction Services</h1>
              <p>A built website that facilitates the management of equipment rental transactions for construction services</p>
              <a class="btn btn-color-2 project-btn download" href="https://jecati-construction-services.vercel.app">Live Demo</a>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <img
        src="/images/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#contact'"
      />
    </section>
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="/images/email.png"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a class="link" href="mailto:jamadigal@gmail.com">jamadigal@gmail.com</a></p>
        </div>
        <div class="contact-info-container">
          <img
            src="/images/telegram.png"
            alt="Telegram icon"
            class="icon contact-icon"
          />
          <p><a class="link" href="https://t.me/jamadigal">@jamadigal</a></p>
        </div>
      </div>
      <h3 class="btn-container"><a class="link" href="#top">Back to top</a></h3>
    </section>
    <footer>
      <nav>
        <ul class="nav-links">
          <li><a class="link" href="#about">About</a></li>
          <li><a class="link" href="#experience">Experience</a></li>
          <li><a class="link" href="#projects">Projects</a></li>
          <li><a class="link" href="#contact">Contact</a></li>
        </ul>
      </nav>
      <p class="credits">&copy; 2024 Atyla | Digital Harmony. All rights reserved.</p>
    </footer>
    <script defer src="/script/script.js"></script>
    <script defer src="/script/animation.js"></script>
    <script src="/script/errorhandler.js"></script>
  </body>
</html>
